/* Normalize */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

ul {
  border: 0 none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

@media (min-width: 768px) {
  body {
    padding-top: 70px;
    background-color: #efefef;
  }
}

h1 {
  font-size: 28px;
}

/* Grid */
.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-8-off,
.col-md-4-off,
.col-md-4 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-8-off,
  .col-md-4-off,
  .col-md-4 {
    float: left;
  }

  .col-md-8-off,
  .col-md-4-off {
    margin-right: -100%;
  }
}

@media (min-width: 768px) {
  .col-md-8-off {
    width: 66.66666%;
    margin-left: 0;
  }

  .col-md-4 {
    width: 33.333333%;
  }

  .col-md-4-off {
    width: 33.333333%;
    margin-left: 66.66666%;
  }
}

@media (max-width: 767px) {
  .buttons-container {
    text-align: center;
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
  margin-bottom: 20px;
  padding: 20px;
  border: 0 none;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-color: #73c3dc;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 0 0 #2b8ead;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  outline: none;
}

@media (min-width: 768px) {
  .btn {
    display: block;
    min-width: 250px;
    font-size: 16px;
  }
}

.authored,
cite {
  font-style: italic;
}

.btn.reverse {
  background-color: #e8913a;
  box-shadow: 0 5px 0 0 #b5702a;
}

.btn.reverse:hover {
  background-color: #b5702a;
  box-shadow: 0 5px 0 0 #8a5520;
}

.btn:hover {
  box-shadow: 0 5px 0 0 #2f464e;
  background-color: #2f464e;
}

.main-content {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .main-content {
    margin-top: 30px;
  }
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #333;
}

@media (min-width: 768px) {
  .main-header {
    height: 70px;
    background-color: #fff;
    box-shadow: 0 5px 0 0 #a7a7a7;
  }
}

.header-title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

@media (min-width: 768px) {
  .header-title {
    margin: 16px 0;
    font-size: 28px;
    color: #000;
  }
}

.item {
  position: relative;
  background-color: #efefef;
}

@media (min-width: 768px) {
  .bg-dark-blue {
    background-color: #2f464e;
  }

  .bg-blue {
    background-color: #2b8ead;
  }

  .bg-blue-grey {
    background-color: #6f99a9;
  }

  .bg-grey {
    background-color: #bfbfbf;
  }
}

@media (max-width: 767px) {
  .item:before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 10px;
    height: 100%;
  }

  .item.bg-dark-blue:before {
    background-color: #2f464e;
  }

  .item.bg-blue:before {
    background-color: #2b8ead;
  }

  .item.bg-blue-grey:before {
    background-color: #6f99a9;
  }

  .item.bg-grey:before {
    background-color: #bfbfbf;
  }
}

.item-inner {
  position: relative;
  height: 50px;
  margin-bottom: 5px;
  transition: all 0.4s ease;
  opacity: 1;
}
@media (min-width: 768px) {
  .item-inner {
    height: 200px;
    margin-bottom: 0;
  }
}

.item-inner.animate {
  animation: fade 0.5s ease 1;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22px;
  margin: auto;
  text-align: center;
  font-size: 22px;
  color: #000;
}
@media (min-width: 768px) {
  .item-text {
    height: 100px;
    font-size: 90px;
    color: #fff;
  }
}

.main-footer {
  text-align: center;
}

.main-footer .authored {
  font-size: 14px;
  font-weight: 300;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
